<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="LDAP" value="LDAP://192.168.0.112/dc=ic-itcr,dc=ac,dc=cr"/>
    <add key="pwd" value="123456"/>
    <add key="usr" value= "cn=admin,dc=ic-itcr,dc=ac,dc=cr"/>
  </appSettings>
</configuration>
